<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="BasicAuth">
    <meta name="author" content="siddub">

    <title>Blockchain Simulator</title>
  <title>Create a Jangle account</title> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<%= errors %>
<div class="container">
      <form class="login-form" method="POST" action="/register"  >
        <h2 class="form-heading">Create your Account</h2>
        <input name="username" type="text" class="form-control" placeholder="Username" autofocus="true"/>
        <input name="email" type="text" class="form-control" placeholder="Email" autofocus="true"/>
        <input name="password" type="password" class="form-control" placeholder="Password" />
        <input name="passwordConfirm" type="password" class="form-control" placeholder="Password confirm" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<style>
input{
  margin-bottom: 15px
}
h2{
  text-align: center
}
.container{
  width:20%
}
</style>

</body>
</html>