<html>
  <head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Simulator</title>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <body>
      <nav class="navbar navbar-light bg-light p-3">
          <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
              <a class="navbar-brand" href="#">
                  Blochain Dashboard
              </a>
              <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="col-12 col-md-4 col-lg-2">
              <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Hello, <%= user_email %>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div>
          </div>
      </nav>
      <%- include('../component/sidebar/sidebar.ejs', {active_index: null, active_miner: null, active_wallet: null, active_economy: null, active_node: "active"}) %>
   <div class="transaction">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Tx Nr</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">FEE</th>
                <th scope="col">FROM</th>
                <th scope="col">TO</th>
                <th scope="col">SIGNATURE</th>
                <th scope="col">Balance</th>
                <th scope="col">Signature</th>
                <th scope="col">Send To Mempool</th>
              </tr>
            </thead>
            <tbody id="transaction-list">
            </tbody>
          </table>
        </div>
      </div>
  </div>
    <script src="/javascripts/transaction.js"></script>
</body>
<footer>
</footer>